commands:
    300-composer-update:
        command: "export COMPOSER_HOME=/root"

container_commands:

    200-copy-apache-config:
        command: "cp .ebextensions/httpd/symfony.conf /etc/httpd/conf.d/"

    300-chmod:
        command: "chmod -R 777 ."

    301-run-composer:
        command: "php composer.phar update --lock"
        ignoreErrors: true

    400-link-parameters:
        command: "rm app/config/parameters.yml && ln -s /var/www/shared/app/config/parameters.yml app/config/"

    401-link-vendors:
        command: "ln -s /var/www/shared/vendor/ vendor/"
