commands:
    300-composer-update:
        command: "export COMPOSER_HOME=/root"

container_commands:

    200-copy-apache-config:
        command: "cp .ebextensions/httpd/virtualhost.conf /etc/httpd/conf.d/virtualhost.conf"

    301-run-composer:
        command: "php composer.phar install -o"

    400-asd:
        command: "rm app/config/parameters.yml && ln -s /var/www/shared/app/config/parameters.yml app/config/"
