commands:

  01-params:
    command: ln -s /var/www/shared/app/config/parameters.yml /var/www/html/app/config/
    
  99_clearcache:
    command: php app/console cache:clear --env=prod --no-debug --no-warmup
#  100_clearcache:
#    command: rm -rf app/cache/*

#  02-params:
#    command: chown webapp:webapp app/config/parameters.yml
#  03-bootsrap:
#    command: php vendor/sensio/distribution-bundle/Sensio/Bundle/DistributionBundle/Resources/bin/build_bootstrap.php
#  04-bootsrap:
#    command: chown webapp:webapp app/bootstrap.php.cache
#  05-cache:
#    command: php app/console cache:clear --env=prod --no-debug --no-warmup
#  06-cache:
#    command: chmod -R 0777 app/cache
#  07-logs:
#    command: chmod -R 0777 app/logs
#  08-cache:
#    command: chown -R webapp:webapp app/cache
#  09-logs:
#    command: chown -R webapp:webapp app/logs
